 pre.prettyprint {
     width: auto;
     overflow: auto;
     max-height: 600px;
     background-color: #bfc2cb;
     border-radius: 5px;
 }

 li {
     list-style-type: none;
 }

 /* 第八題 */
 .accordion {
	 background: #bebebe;
	 padding: 0px;
	 width: 500px;
}
 .accordion li {
	 padding: 16px;
}
 .accordion li h2 {
	 display: flex;
	 justify-content: space-between;
}
 .accordion li p {
	 height: 0px;
	 overflow: hidden;
	 transition: 0.5s;
}
 .accordion li:hover {
	 background: #7b7b7b;
	 cursor: pointer;
}
 .accordion li .active {
	 transition: 0.5s;
	 height: 100px;
}

/* 第九題 */
.tab-block {
	 display: inline-block;
	 border: solid 1px black;
}
 .tab-block .tab-list {
	 padding: 0;
	 margin: 0;
	 display: flex;
}
 .tab-block .tab-list li {
	 padding: 16px;
	 cursor: pointer;
}
 .tab-block .tab-list li:hover {
	 background-color: gray;
}
 .tab-block .tab-list .active {
	 background-color: gray;
}
 .tab-block .tab-content .tab-content-item {
	 display: none;
}
 .tab-block .tab-content .active {
	 display: block;
}
 .tab-block .tab-content p {
	 text-align: center;
}
 